@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

.main-container {
  width: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 10em;
  max-height: 10em;
}

.answer-btns {
  font-family: 'Montserrat', sans-serif;
  height: 6em;
  width: 22em;
  min-width: 11em;
  min-height: 4em;
  border: none;
  border-bottom: 4px solid grey;
  margin: 1em 2em;
}

.next-btn {
  font-family: 'Montserrat', sans-serif;
  min-width: 11em;
  min-height: 4em;
  border: none;
  border-bottom: 4px solid grey;
  margin: 1em 2em;
}

.list-space {
  padding: 0.5em 0em;
}

.hidden {
  visibility: hidden;
}